/*code for main content area of webpage*/
main {
    border: 10px solid rgb(223, 102, 152);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    clear: none;
    scale: 100%;
    margin: 1.5%;
    background-color: rgb(149, 183, 213);
}

img {
    width: 14%;
    padding: 2%;
}

/*Navigation Menu*/

nav {
    margin: 5%;
}

#nav_list ul {
    list-style-type: none;
}

#nav_list ul li {
    border: 7px solid rgb(223, 102, 152);
}

#nav_list ul li a {
    background-color: yellowgreen;
    /* Display that content as a block element */
    display: block;
    /* padding around elements */
    padding: 2.5em;
    text-decoration: none;
    font-weight: bold;
    color: rgb(44, 8, 8);
}

/*End of Navigation Menu code*/

/*code for body of webpage, includes the grid layout of webpage*/
body {
    background-image: url(images/background.png);
    background-repeat: repeat;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /*grid template code*/
    display: grid;
    grid-template-columns: [body-start nav-start] .45fr [nav-end sec-start] 1fr [sec3-start] 1fr [sec-end body-end];
    grid-template-rows: [row1-start] .1fr [row2-start] 1fr [row3-start] 1fr [row4-start] 60px [rows-end];
    grid-gap: 16px;
}

header {
    grid-row: row1-start/row2-start;
    grid-column: body-start/body-end;
}

nav {
    grid-row: row2-start/row4-start;
    grid-column: nav-start/nav-end;
}

#s1 {
    grid-row: row2-start/row4-start;
    grid-column: sec-start/sec-end;
}

footer {
    grid-row: row4-start/rows-end;
    grid-column: body-start/body-end;
}

.kanit-black {
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: normal;
}


.libre-franklin-font {
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: large;
    font-style: normal;
}

/*heading*/
h1 {
    padding: .5em;
    border: 12px solid rgb(223, 102, 152);
    /* aligns text to center of h1 element */
    text-align: center;
    margin: .25em 1% 0em;
    background-color: rgb(91, 9, 91);
    /*
    background-image: linear-gradient(45deg, rgb(108, 3, 38) 0%, rgb(173, 32, 32) 25%, rgb(4, 13, 133) 75%, rgb(83, 7, 83) 100%);
    */
    font-size: 345%;
    font-weight: 800;
    color: yellow;
    /* Stop the floating of the h1 element */
    clear: right;
}

br {
    /* Stop the floating of the page */
    clear: left;
}

body {
    margin: 1%;
    font-size: 100%;
}

p {
    margin-left: 1.5%;
}

ul {
    margin-left: 2.2%;
}

h2,
h3 {
    color: rgb(3, 23, 3);
    background-color: rgb(163, 220, 172);
    padding: .5em;
    margin: .35em;
    border: solid 5px darkcyan;
    font-size: 200%;
    text-align: center;
}

a:hover {
    color: rgb(189, 18, 47);
}

/*copyright section*/
#copy {
    padding: 1.5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(105, 208, 143);
    border: 7px solid rgb(223, 102, 152);
    margin: 1.2%;
}

/*Media queries*/

@media only screen and (max-width: 666px) {
    body {
        display: flex;
        /*make the header a flexbox */
        flex-direction: column;
        /*display flex items in a column */
        align-items: center;
        /*center each item within the column */
    }

    main {
        flex-direction: column;
    }

    nav {
        order: 1
    }

    #s1 {
        order: 2
    }

    footer {
        order: 3
    }
}

@media only screen and (max-width: 603px) {

    h2,
    h3 {
        font-size: smaller;
    }
}

@media only screen and (max-width: 1100px) {

    table {
        font-size: small;
    }
}

@media only screen and (max-width: 392px) {
    #facts {
        font-size: smaller;
    }
}