/*code for main content area of webpage*/
main {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    clear: none;
    scale: 100%;
    margin: auto;
    background-color: rgb(149, 183, 213);
}

img {
    width: 14%;
    padding: 2%;
}

/*CSS for table*/
table {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: .2em 7.em;
    text-align: center;
}

th.left,
td.left {
    text-align: left;
}

thead {
    background-color: rgb(143, 131, 154);
}

/*End of CSS for table*/

ul {
    margin-top: 10%;
    margin-right: 10%;
    text-align: center;
}

ul.none {
    list-style-type: none;
}

/*code for body of webpage, includes the grid layout of webpage*/
body {
    background-image: url(images/background.png);
    background-repeat: repeat;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /*grid template code*/
    display: grid;
    grid-template-columns: [body-start nav-start] .45fr [nav-end sec-start] 1fr [sec3-start] 1fr [sec-end body-end];
    grid-template-rows: [row1-start] .1fr [row2-start] 1fr [row3-start] 1fr [row4-start] 60px [rows-end];
    grid-gap: 16px;
}

#f-line {
    font-size: larger;
}

#color2 {
    font-size: large;
}

#blog-article {
    padding: .5em 1.5em 1.75em 1.5em;
}

header {
    grid-row: row1-start/row2-start;
    grid-column: body-start/body-end;
}

nav {
    grid-row: row2-start/row4-start;
    grid-column: nav-start/nav-end;
}

#s1 {
    grid-row: row2-start/row3-start;
    grid-column: sec-start/sec-end;
}

#s2 {
    grid-row: row3-start/row4-start;
    grid-column: sec-start/sec-end;
}

#s3 {
    grid-row: row3-start/row4-start;
    grid-column: sec3-start/sec-end;
}

footer {
    grid-row: row4-start/rows-end;
    grid-column: body-start/body-end;
}

.kanit-black {
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: normal;
}


.libre-franklin-font {
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: large;
    font-style: normal;
}



/*heading*/
h1 {
    padding: 1em;
    border: 12px solid rgb(63, 3, 38);
    /* padding above and below and left and right of h1 element */
    padding: 1em 0em;
    /* aligns text to center of h1 element */
    text-align: center;
    margin: 1em;
    background-color: rgb(27, 10, 24);
    /*
    background-image: linear-gradient(45deg, rgb(108, 3, 38) 0%, rgb(173, 32, 32) 25%, rgb(4, 13, 133) 75%, rgb(83, 7, 83) 100%);
    */
    font-size: 345%;
    font-weight: 800;
    color: rgb(173, 238, 69);
    /* Stop the floating of the h1 element */
    clear: right;
}

.bold {
    font-weight: 700;
}

br {
    /* Stop the floating of the page */
    clear: left;
}

#color {
    color: rgb(32, 9, 92);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: 300%;
}

/*flexboxes, #sections, #names, #facts*/
#sections {
    width: auto;
    height: auto;
    /*create flexbox for section*/
    display: flex;
    flex-direction: row;
}

#names {
    background-color: skyblue;
    flex-basis: 50%;
}

#facts {
    background-color: rgb(208, 202, 204);
    flex-basis: 50%;
}

body {
    font-size: 100%;
}

#read {
    font-size: larger;
}

p {
    margin-left: 1.5%;
}

ul {
    margin-left: 2.2%;
}

h2,
h3 {
    color: rgb(3, 23, 3);
    background-color: rgb(163, 220, 172);
    margin: .5em;
    padding: 5%;
    border: solid 5px darkcyan;
    font-size: 200%;
    text-align: center;
}

a:hover {
    color: rgb(189, 18, 47);
}

article {
    column-count: 3;
    column-gap: 35px;
    column-rule: 2px solid rgb(31, 6, 114);
}

/*Navigation Menu*/
#nav_list ul {
    list-style-type: none;
}

#nav_list ul li {
    border: 7px solid blue;
}

#nav_list ul li a {
    background-color: yellowgreen;
    /* Display that content as a block element */
    display: block;
    /* padding around elements */
    padding: 2.5em;
    text-decoration: none;
    font-weight: bold;
    color: blue;
}

/*End of Navigation Menu code*/

/*Media queries*/

@media only screen and (max-width: 666px) {
    body {
        display: flex;
        /*make the header a flexbox */
        flex-direction: column;
        /*display flex items in a column */
        align-items: center;
        /*center each item within the column */
    }

    main {
        flex-direction: column;
    }

    nav {
        order: 1
    }

    #s1 {
        order: 2
    }

    #s2 {
        order: 3
    }

    #s3 {
        order: 4
    }

    footer {
        order: 5
    }
}

@media only screen and (max-width: 603px) {

    h2,
    h3 {
        font-size: smaller;
    }
}

@media only screen and (max-width: 459px) {
    article {
        column-count: 2;
    }

    table {
        font-size: small;
    }
}

@media only screen and (max-width: 392px) {
    #facts {
        font-size: smaller;
    }
}